section{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

section p {
    max-width: 600px;
    line-height: 1.5;
}

button{
    padding: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    font-size: 18px;
    border: none;
}

section h2{
    color: blueviolet;
}

button:hover{
    background-color:aquamarine;
    cursor: pointer;
}

button {
    transition: background-color 0.3s;
}

h1{
    font-size: 64px;
}

section p{
    color:rgb(248, 247, 246);
}