nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px
    
}

nav div{
    display: flex;
    gap: 20px;
    margin:20px;
    
}

nav h1{
    font-size: 30px;
}

nav div a {
    text-decoration: none;
    color:white;
    font-size: 18px;
    line-height: 1.5;
}

nav div a:hover{
    color:blueviolet;
}

nav div a.active{
    color: blueviolet;
}